// theme stuff from https://www.youtube.com/watch?v=FweHcYHkt9A
$themes: (
  light: (
    backgroundColor: white,
    searchBarColor: white,
    textColor: black,
    alternateTextColor: rgb(119, 0, 149),
  ),
  dark: (
    backgroundColor: black,
    searchBarColor: rgb(43, 43, 43),
    textColor: white,
    alternateTextColor: rgb(223, 207, 227),
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}
