.introPage{
    h1{
        color: white;
        font-size: 50px;
        font-weight: 200;
    }

    .searchBar{
        position: relative;
        input{
        width: 50%;
        height: 50px;
        border-radius: 2em;
        padding-left: 55px;
        }
        button{
        position: absolute;
        width: 50px;
        height: 50px;
        left: 25%;
        border-radius: 2em;
        
        img{
            width: 25px;
            height: 25px;
        }
        }
    }
    .addButton{
        button{
        background-color: darkcyan;
        margin-top: 50px;
        width: 20%;
        height: 50px;
        border-radius: 2em;
        }
        img{
        width: 25px;
        height: 25px;
        }
    }
}