.searchBar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .MuiTextField-root{
    background-color: rgb(43, 43, 43);
    border-color: white;
    color: white;
    width: 75%;
    border-radius: 50px; 
    .input{
      color: white;
    }
    .label{
      color: white;
    } 
  }
}
