@import "../../../global.scss";

.searchBar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .MuiTextField-root{
    width: 75%;
    border-radius: 50px; 
    @include themify($themes) {
      background-color: themed(searchBarColor);
      border-color: themed(textColor);
      color: themed(textColor);
      .input{
        color: themed(textColor);
      }
      .label{
        color: themed(textColor);
      } 
      .searchIcon{
        color: themed(textColor);
      }
    }
  }
}
