@import "../../../global.scss";

.introPage {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  img {
    width: 50%;
    height: auto;
    align-self: center;
  }

  h1 {
    @include themify($themes) {
      color: themed(textColor);
    }
    font-size: 50px;
    font-weight: 200;
  }
  span {
    color: red;
  }
  .addButton {
    button {
      background-color: rgb(163, 0, 204);
      margin-top: 50px;
      width: 20%;
      height: 50px;
      border-radius: 2em;
      border-color: rgb(223, 207, 227);
      cursor: pointer;
    }
    img {
      width: 25px;
      height: 25px;
    }
  }
}
