.addPage{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    .createForm{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}