.addPage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;

  h1 {
    color: rgb(223, 207, 227);
    font-size: 40px;
    font-weight: 200;
  }
  h3 {
    color: rgb(223, 207, 227);
    font-size: 20px;
    font-weight: 400;
  }

  span {
    color: red;
  }

  .addExtendedButton {
    button {
      background-color: rgb(223, 207, 227);
      margin-top: 10px;
      height: 50px;
      border-radius: 2em;
      border-color: rgb(163, 0, 204);
      cursor: pointer;
    }
  }
  .backButton {
    button {
      background-color: rgb(223, 207, 227);
      margin-top: 10px;
      height: 50px;
      border-radius: 2em;
      border-color: rgb(163, 0, 204);
      cursor: pointer;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
}
