.addPage{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .createForm{
        border-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 2em;
        background-color: rgb(150, 89, 166);
        border-style: solid;
        border-color: rgb(102, 0, 128);

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgb(135, 115, 140);
            opacity: 1; /* Firefox */
          }
          
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgb(135, 115, 140);
          }
          
          ::-ms-input-placeholder { /* Microsoft Edge */
            color: rgb(135, 115, 140);
          }

        #fieldEntry{
            margin: 10px 10px 0px 10px;
            color:	rgb(82, 0, 102);
            background-color: rgb(250, 230, 255);
            border-radius: 0.5em;
            font-size: 24px;
        }

        span{
            margin: 5px 5px 5px 5px;
            color: rgb(120, 0, 0);
        }

        button{
            width: 50px;
            height: 50px;
            left: 22.5%;
            top: 0%;
            border-radius: 1em;
            margin: 10px 10px 10px 10px;
            border-color: rgb(163, 0, 204);
            cursor: pointer;
            
            img{
                width: 25px;
                height: 25px;
            }
        }
    }
    .backButton{
        button{
            background-color: rgb(223, 207, 227);
            margin-top: 50px;
            height: 50px;
            border-radius: 2em;
            border-color: rgb(163, 0, 204);
            cursor: pointer;
        }
        img{
            width: 50px;
            height: 50px;
        }
    }
    .sampleResult{
        align-self: stretch;
    }
    
}